/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700|Anaheim);
@sidebar-width: 200px;
/* RESET */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* TYPOGRAPHY */
body {
    font-family: "Open Sans",sans-serif;
    font-size: 0.75em;
    margin: 0 auto;
}
h1 {
    font-size: 2.083333333em;
    font-weight: normal;
    line-height: 1.44em;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-size: 2.083333333em;
    line-height: 1.44em;
    margin-top: 0.72em;
    margin-bottom: 0.72em;
}
h3 {
    font-size: 1.416666667em;
    line-height: 1.058823529em;
    font-weight: normal;
    margin-top: 1.05882353em;
    margin-bottom: 1.05882353em;
}
h4 {
    font-size: 1.166666667em;
    line-height: 1.285714285em;
    margin-top: 1.28571429em;
    margin-bottom: 1.28571429em;
}
p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0;
    margin-bottom: 1.5em;
}
a {
    text-decoration: none;
}

/* Sanitation */
hr {
    border: 1px solid;
    margin: -1px 0;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
b,
strong,
em,
small,
code {
    line-height: 1;
}
sup,
sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

/* LAYOUT */
body {
    overflow-y: scroll;
}
.sidebar {
    width: @sidebar-width;
    background-color: #2f2d36;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.main {
    width: calc( 100% ~"-" @sidebar-width);
    margin-left: @sidebar-width;
}
.row {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}
.column {
    margin: 0;
    padding: 0 10px;
    display: block;
    float: left;
}
.row.four-total {
    .column,
    .column.one-wide {
        width: 25%;
    }
    .column.two-wide {
        width: 50%;
    }
}
.row.one-total {
    .column {
        width: 100%;
    }
}
/* LOADING */

.loading {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #dedede;
    .center {
        top:50%;
        margin-top: -20px;
        width:100%;
        position: absolute;
        text-align: center;
    }
}
/* COMPONENTS */
.sidebar {
    li {
        a {
            display: block;
            padding: 3px 5px;
        }
        &:hover {
            background-color: #333;
            p {
                color: #a00;
            }
        }
        position: relative;
        background-color: #000;
        margin:4px;
        border-radius: 4px;
        p {
            padding-left: 5em;
            color: #f0f0f0;
            text-decoration: none;
            margin:0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width:100%;
            line-height: 14px;
            font-weight: 200;

        }
        span {
            text-align: right;
            position: absolute;
            left:.5em;
            width:4em;
            top:50%;
            margin-top: -9px;
            display: inline-block;

            color:#fff;
            font-weight: bold;
            padding: 3px;
            border-radius: 4px;
            margin-right: 1em;
        }
    }
}
.d-list {
    li {
        position: relative;
        overflow: hidden;
        margin: 2px 0;
        padding: 4px;
        height: 36px;
        border-radius: 5px;
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .lhead {
            font-size: 14px;
            margin:4px 0;
        }
        .ltext {
            font-size: 12px;
            font-weight: 200;
        }
        .lhead, .ltext {
            display: block;
            width: calc(100% ~"-" 10em);
            float: left;
        }
        .lperc, .lcount {
            display: block;
            float:right;
            padding: 2px 4px;
            font-family: "Anaheim",sans-serif;
            min-width:4em;
            text-align: center;
            top:50%;
            font-size: 16px;
            margin-top: -11px;
            line-height: 20px
        }

        .lperc {
            position: absolute;
            right:4em;

        }
        .lcount {
            position: absolute;
            right:0;
            border-left: 1px solid #ccc;

        }
        div.ovr {
            position: absolute;
            top: 0;
            bottom:0;
            width:100%;
        }
        div.bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color:#ededed;
        }
        div.fg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: #d8d8d8;
        }
        .bg,.fg {
            z-index: 0;
        }
    }
}
.chart {
    position: relative;
}
.chart .title {
    position: absolute;
    top: 0;
    right: 0;

    .reset {
        background-color: #dedede;
        padding: 3px 5px;
        border-radius: 3px;
    }
}
.param-list,
.pair-list {
    .ovr {
        line-height: 36px;
    }
}

.chart rect {
    fill: #c00;
}
.brush rect.extent {
    fill: steelblue;
    fill-opacity: 0.125;
}
.brush .resize path {
    fill: #eee;
    stroke: #666;
}

.filter {
    background-color: #e00;
}
