

<template name="main">

    <div class="sidebar">
        <ul>
            {{#each sites}}
            <li>
                <a href="/site/{{name}}">
                    <span class="count">{{count}}</span>
                    <p>
                        {{name}}
                    </p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="main">
        <div class="header row">
            <div class="column one-wide">
                <h1>Foundation Analytics</h1>
                {{#if host}}
                <h3>{{host}}</h3>
                {{/if}}

                {{#if site}}
                <h3>{{site}}</h3>
                {{/if}}
            </div>
        </div>

        <div class="content">
            <div class="row one-total">
                <div class="column one-wide">

                    <!-- ACTIVITY CHART -->
                    <div id="activity-chart" class="chart activity-chart">
                        <h3>Activity</h3>
                        <!-- d3 render context -->

                    </div>

                </div>
            </div>

            <div class="row four-total">

                <!-- URL LIST -->
                <div class="column two-wide">

                    <div id="url-list" class="list url-list">
                        <h3>Top Urls</h3>
                        <!-- d3 render context -->
                    </div>
                </div>

                <!-- PARAM LIST -->
                <div class="column one-wide">
                    <div id="param-list" class="list param-list">
                        <h3>Top Parameters</h3>
                        <!-- d3 render context -->
                    </div>
                </div>

                <!-- PAIR LIST -->
                <div class="column one-wide">
                    <div id="pair-list" class="list pair-list">
                        <h3>Top Pairs</h3>
                        <!-- d3 render context -->
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>
